body {
    font-family: "Open Sans", sans-serif;
    background: url(../images/circular-metal-960x720.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

     margin: 0px; 
    overflow-x: hidden; /* remove horizontal scrollbar */
}

h1,h2,h3 {
    font-family: 'Archivo Narrow', sans-serif;    
}

p {
    font-family: 'EB Garamond', serif;
    font-size: large;
}

.icon {
    margin: 0 5px 0;
}

/*------------------------------------------------------------------- navbar */

.navbar {
    opacity: 0.7;
}

.navbar-brand {
    font-weight: bold;
}

.top-navbar a {
    font-weight: bold;
}

.navbar-toggler {
    background-color: #005048;    
}

/*-------------------------------------------------------------------general styles */

.page-header {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

.page-header h2 {
    margin-top: 30px;
    margin-bottom: 30px;
}

hr {
    width: 75px;
    height: 10px;
    border: 0;
    background-color: #005048; /* dark green */
}

.section-heading {
    text-align: center;
}

.content-container {
    margin-bottom: 20px;
}

/*------------------------------------------------------------------- splash */

.splash-container {
     height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


.jumbotron {
   background-color: transparent;
   margin: 0;
}

/*------------------------------------------------------------------- about */

.about-container {
    margin-top: 00px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;    
}

.about-col {
    padding-top: 20px;
    padding-right: 20px;
}

.about-heading {
    text-align: center;
}

.about-col p {
    text-align: justify;
}

/*-------------------------------------------------------------------testimonials */

.testimonials-container {
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
    padding: 10px; 
}

.quote {
    font-style: italic;
}

.testimonials i {
    font-size: 30px;
    margin-right: 10px;
}

/*-------------------------------------------------------------------gallery */

.gallery-container {
    text-align: center;
}

.gallery-container img {
    border: solid 3px #000;
}

.gallery-container h5 {
    padding-top: 6px;
}

.gallery-container p {
    margin-bottom: 30px;
}

/*-------------------------------------------------------------------contact */

.contact-container {
    padding: 10px;
    text-align: center;
    padding-bottom: 0;
}

.img-responsive {
    max-width: 90%;
}

.contact-container i {
    font-size: 20px;
}

.contact-container p {
    font-size: 24px;
    letter-spacing: 2px;
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 65%;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: #005048;
}

.bottom-navbar {
    margin: 0;
    letter-spacing: 2px;
}

























