/*body,html {
    height: 100%;
    width:100%;
    margin: 0px; 
}
*/
body {
    font-family: "Open Sans", sans-serif;
    background: url(../images/circular-metal-960x720.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

     
    overflow-x: hidden; /* remove horizontal scrollbar */
}

h1,h2,h3 {
    font-family: 'Archivo Narrow', sans-serif;    
}

p {
    font-family: 'EB Garamond', serif;
    font-size: large;
}

/*------------------------------------------------------------------- navbar */

.navbar {
    opacity: 0.8;
}

.navbar-brand {
    font-weight: bold;
}

.top-navbar i {
    font-size: large;
    color: #f8f8f8;
}

.top-navbar i:hover {
    font-weight: bold;
    color: #999c9d !important;
}

.navbar-toggler {
    background-color: #005048;    
}


/*-------------------------------------------------------------------general styles */

.page-header {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

.page-header h2 {
    margin-top: 30px;
    margin-bottom: 30px;
}

hr {
    width: 75px;
    height: 10px;
    border: 0;
    background-color: #005048; /* dark green */
}

.section-heading {
    text-align: center;
}

.content-container {
    margin-bottom: 20px;
    margin: 0 auto;
    max-width: 95%; /* keep all content within screen  */
}

/*------------------------------------------------------------------- splash */

.splash-container {
     height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


.jumbotron {
   background-color: transparent;
   margin: 0;
}

/*------------------------------------------------------------------- about */

.about-container {
    margin-top: 00px;
    padding: 10px;    
}

.about-col {
    padding-top: 20px;
    padding-right: 20px;
}

.about-heading {
    text-align: center;
}

.about-col p {
    text-align: justify;
}

/*-------------------------------------------------------------------testimonials */

.testimonials-container {
    margin-top: 20px;
    padding: 10px; 
}

.quote {
    font-style: italic;
}

.testimonials i {
    font-size: 30px;
    margin-right: 10px;
}

/*-------------------------------------------------------------------gallery */

.gallery-container {
    text-align: center;
    padding-bottom: 50px;
}

.gallery-container img {
    border-radius: 3%;
    /* border: solid 3px #525252; */
}

.gallery-container h5 {
    padding-top: 6px;
}

.gallery-container p {
    margin-bottom: 30px;
    text-align: justify;
}

/*-------------------------------------------------------------------contact */

.contact-container {
    padding: 10px;
    text-align: center;
    padding-bottom: 0;
}

.img-responsive {
    max-width: 90%;
}

.contact-container i {
    font-size: 20px;
}

.contact-container p {
    font-size: 24px;
    letter-spacing: 2px;
}

.contact-details {
    background-color: #555a5f;
    opacity: 0.8;
}

.center-form .contact-details {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 65%;
}

.contact-details {
    border-radius: 2%;
    text-align: left;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 50px;
    color: #fff;
    
}

.contact-details span {
    display: block;
    padding: 0;
    font-family: 'Archivo Narrow', sans-serif;
    font-size: x-large;
}


.contact-details a {
    color: #fff;
}

.contact-details a:hover {
    color: #999c9d;
    text-decoration: none;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: #005048;
}

.bottom-navbar {
    margin: 0;
    letter-spacing: 2px;
    opacity: 0.8;
}
























